body{
background-color: black;

}
#container{
/*width: 80%;*/
border: 1px solid white;
margin-left: 20%;
margin-right: 20%;
background-color: rgb(243,242,237);
}
/*Styling for all the content in the header*/
#header{
    color: grey;
    background-color: rgb(52,53,57);
        border: 1px solid black;
    padding-bottom: 10px;

}
h1{
font-size: 60px;
font-family: "Times New Roman", Times, serif;
color: rgb(242,203,50);
}
/*.trouble{
color: gainsboro;

}
.online{
color: white;
}*/

/*Styling for the first section */
#sec1{
    background-image: url(/assets/big_img.jpg);
    height: 270px;

}
.simp{
font-size: 25px;
}
.email{
font-size: 10px;
}

hr{
align-content: center;
width: 50%;

}

/*Styling for the second section*/
#sec2{
color: gray;
background-color: white;
/*border: 1px solid black;*/
margin-top: 20px;
height: 290px;
}
h3{
font-size: 30px;
    color: black;
    padding-top: 20px;
}
a{
display: block;
width: 60px;
color: aliceblue;
background-color: rgb(52,53,57);
text-decoration: none;
padding: 15px;
border-radius: 40px;
margin-left: 20px;
margin-bottom: 5px;

}
.parg{
margin: 20px;
}
h3{
margin-left: 20px;
}


/*Styling for the third section*/
#sec3{
/*border: 1px solid black;*/
margin-top: 20px;
}


#editable{
display: inline-block;

}
#versatile{
display: inline-block;
}
#professional{
display: inline-block;
}
td{
padding: 40px;
}
table{
background-color: rgb(255,255,255);
width: 100%;
}



/*Styling for the 4th Section*/

#sec4{
/*border: 1px solid black;*/
margin-top: 20px;
margin-right: 1px;
background-color: white;

}
#lorem{
margin-left: 20px;
display: inline-block;
clear: both;

}
.im{
display: inline-block;
float: right;
clear: both;

}

/*Styling for section 5*/
#sec5{
/*border: 1px solid black;*/
margin-top: 20px;
}

.img{
padding-right: 1px;
float: right;
display: inline-block;
}

#lorem{
display:inline-block;

}

/*Styling for section 6*/

#sec6{
/*border: 1px solid black;*/
background-color: rgb(122,255,76);
color: white;
align-content: center;
margin-top: 20px;
height: 100px;
}
/*Styling for section 7*/

#sec7{
/*border: 1px solid black;*/
margin-top: 20px;
background-color: white;
}
h4{
margin-left: 20px;
padding-top: 20px;
}
.doolor{
margin: 20px;
color:rgb(190,190,190);
}


/*Styling for the footer*/
footer{
margin-top: 20px;
/*border: 1px solid black;*/
background-color: rgb(52,53,57);
color: rgb(147,128,52);
height: 100px;
}





















