body{
background-color: black;

}
#container{
/*width: 80%;*/
border: 1px solid white;
margin-left: 20%;
margin-right: 20%;
background-color: rgb(243,242,237);
}
/*Styling for all the content in the header*/
#header{
    color: grey;
    background-color: rgb(52,53,57);
        border: 1px solid black;

}
h1{
font-size: 40px;
color: rgb(242,203,50);
}
/*.trouble{
color: gainsboro;

}
.online{
color: white;
}*/

/*Styling for the first section */
#sec1{
    background-image: url(/assets/big_img.jpg);
    height: 270px;

}
.simp{
font-size: 30px;
}
.email{
font-size: 10px;
}

hr{
align-content: center;
width: 50%;

}

/*Styling for the second section*/
#sec2{
color: gray;
background-color: white;
border: 1px solid black;
}
h2{
font-size: 30px;
    color: black;
}
a{
display: block;
width: 60px;
color: aliceblue;
background-color: dimgrey;
text-decoration: none;
padding: 15px;
border-radius: 20px;

}

/*Styling for the third section*/
#sec3{
border: 1px solid black;

}


#editable{
display: inline-block;

}
#versatile{
display: inline-block;
}
#professional{
display: inline-block;
}
td{
padding: 40px;
}



/*Styling for the 4th Section*/

#sec4{
border: 1px solid black;

}
#lorem{
display: inline-flex;
clear: both;

}
/*Styling for section 5*/
#sec5{
border: 1px solid black;
}

.img{
padding-right: 1px;
float: right;
display: inline-block;
}

#lorem{
display:inline-block;

}

/*Styling for section 6*/

#sec6{
border: 1px solid black;
background-color: limegreen;
color: white;
align-content: center;
}
/*Styling for section 7*/

#sec7{
border: 1px solid black;


}


/*Styling for the footer*/
footer{
border: 1px solid black;
background-color: dimgray;
color: yellow;
}





















